@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --ff: "Nunito Sans", sans-serif;
    --fw-normal: 300;
    --fw-bold: 600;
    --fw-huge: 800;

    --fs-normal: 14px;
    --fs-md: 16px;
    --fs-lg: 20px;
    --fs-hg: 36px;

    --shadow: 0px 3px 5px -2px rgba(34, 60, 80, 0.2);

    --br: 0.3rem;

}

body {
    font-family: var(--ff);
    background: var(--color-bg);
    color: var(--color-text);
    font-size: var(--fs-normal);
}

body[data-theme='light'] {
    --color-bg: hsl(0, 0%, 98%);
    --color-element: hsl(0, 0%, 100%);
    --color-text: hsl(200, 15%, 8%);
    --color-input: hsl(0, 0%, 52%);
}
body[data-theme='dark']  {
    --color-bg: hsl(207, 26%, 17%);
    --color-element: hsl(209, 23%, 22%);
    --color-text: hsl(0, 0%, 100%);
    --color-input: hsl(0, 0%, 52%);
}

.shadow {
    box-shadow: var(--shadow);
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 2rem;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
    background: var(--color-element);
}

.header a {
    text-decoration: none;
    color:var(--color-text);
}

.header__switch {
    font-weight: var(--fw-bold);
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header__name {
    font-size: var(--fs-lg);
    font-weight: var(--fw-huge);
}

.flex-sp-b {
    display: flex;
    justify-content: space-between;
}

.list {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background: var(--color-element);
    border-radius: var(--br);
    overflow: hidden;
    cursor: pointer;
    padding:20px;
}

.card-body__city {
    font-weight: var(--fw-bold);
}

.card-body__type {
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
}

.card-body__count-title {
    padding: 20px 0 0 0;

}

.card-body__count {
    font-size: var(--fs-hg);
    font-weight: var(--fw-huge);
}

.sect {
    margin: 40px 0;
}


@media (max-width: 1400px) {
    .list {
        grid-template-columns: 1fr;
    }
  }